﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ControlPages.ascx.cs" Inherits="final_project.user_control.ControlPages" %>

<asp:SqlDataSource runat="server" ID="select_page"
       ConnectionString="<%$ ConnectionStrings:final_sql_con %>"></asp:SqlDataSource>
    <ul runat="server" ID="menu_list">
        </ul> 