﻿body {

    margin-top:20px;

}
li {

    text-decoration:none;
    display:inline;
    margin-right:30px;
  

}
ul {
    margin-top: 12px;
    font-size:18px;
}
    ul a {
        color: white;
    }
